.idea
.DS_Store
*swp
*swo
tmp/**/*
tmp/*
log/*
config/database.yml
config/memcached.yml
config/initializers/local_paperclip_options.rb
config/initializers/kalles_initializer.rb
config/initializers/saschas_initializer.rb
config/newrelic.yml
*.sqlite3
*.sql
*.cache
*.tmproj
db/sphinx/development/*.*
public/stylesheets/modules/*.css
public/assets
index
gl_tail.yaml
_clipboard
db/schema.rb
*~
doc/psd/*
.tmtags
vendor/plugins/gemsonrails/
vendor/rails
config/newrelic.yml

public/stylesheets/**.css
.rvmrc
.project
app/views/template_sets/development/**
tags

public/cache/**
cached_*
.sass-cache

