.removal_decider {
  color: #444444;
  font: 10px/1.33333 Verdana,"DejaVu Sans",Arial,Helvetica,sans-serif;
}
.removal_decider ul {
  list-style: none;
}
.removal_decider a {
  outline: none;
}
.removal_decider .clear{ clear:both; float: none !important; margin: 0 !important; display:block; overflow:hidden; visibility:hidden; width: 0 !important; height: 0 !important }
.removal_decider .hidden { display: none; height: 0px; overflow: hidden; }
.removal_decider i {
  font-style: normal;
}
.removal_decider_box {
  width: 762px;
  height: 819px;
  background: url(images/removal_decider_box.png) no-repeat 0 0 transparent;
  overflow: hidden;
}
.removal_decider .removal_decider_form {
  padding: 20px;
  background: url(images/removal.png) no-repeat 579px 59px transparent;
  height: 145px;
  overflow: hidden;
}
.removal_decider .removal_decider_form h1 {
  color: #0044CC;
  margin-bottom: 10px;
  font-weight: normal;
  font: 2.2em Tahoma,Arial,sans-serif;
}
.removal_decider .removal_decider_form p {
  font-size: 12px;
}
.removal_decider .removal_decider_form p.details {
  font-size: 1.4em;
  font-weight: bold;
  margin: 35px 0 10px 0;
}
.removal_decider .removal_decider_form label {
  font-weight: bold;
  display: block;
}
.removal_decider .removal_decider_form div {
  float: left;
}
.removal_decider .removal_decider_form input {
  border: 1px solid #7F9DB9;
  font-size: 11px;
  padding: 2px 3px;
  margin-top: 3px;
}
.removal_decider .removal_decider_form input.address {
  width: 160px;
}
.removal_decider .removal_decider_form input.error {
  border: 1px solid #FF0000;
  background: none;
}
.removal_decider .removal_decider_form .start {
  width: 136px;
  background: url(images/arrow.png) no-repeat 176px 19px transparent;
  padding-right: 60px;
}
.removal_decider .removal_decider_form .end {
  width: 160px;
  margin: 0 46px 0 7px;
}
.removal_decider .removal_decider_form .member {
  width: 50px;
  margin-right: 20px;
}
.removal_decider .removal_decider_form .member input {
   width: 50px;
}
.removal_decider .removal_decider_form .rooms {
  width: 50px;
}
.removal_decider .removal_decider_form .rooms input {
   width: 50px;
}
.removal_decider .removal_decider_form .submit {
  margin: 15px 0 0 48px;
}
.removal_decider .submit a,
.removal_decider .company_removal_link a {
  background: url("images/sp_expose.png") no-repeat scroll 100% -789px transparent;
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  text-decoration:none !important;
  cursor: pointer;
}
.removal_decider .submit a:hover,
.removal_decider .company_removal_link a:hover {
  background-position: 100% -820px;
  color: #FFFFFF;
}
.removal_decider .submit a span,
.removal_decider .company_removal_link a span {
  font-size: 1.2em;
  background: url("images/sp_expose.png") no-repeat scroll 0 -727px transparent;
  padding:0 15px 2px 15px;
  text-shadow:-1px -1px 0 #FF7500, 1px -1px 0 #FF7500, 0 -1px 0 #FF7500, 0 1px 1px #FF7500;
  display: inline-block;
  line-height: 19px !important;
  margin-left: -2px;
  color: #ffffff;
  font-weight: bold;
}
.removal_decider .submit a span:hover,
.removal_decider .company_removal_link a span:hover {
  background-position: 0 -758px;
  text-shadow: none;
}

.removal_decider .own_removal, 
.removal_decider .company_removal {
  float: left;
  width: 350px;
  margin: 20px 10px;
  padding: 20px 0;
  height: 422px;
  font-size: 1.2em;
}
.removal_decider .own_removal {
  background: url(images/own_removal_bg.jpg) no-repeat 0px 0px transparent;
  padding: 28px 0;
}
.removal_decider .loading_animation {
  display: none;
  margin: 135px;
}
.removal_decider .own_removal .header_text {
  min-height: 40px;
  margin: 0 56px 0 26px;
  border-bottom: 2px dashed #444444;
}
.removal_decider .own_removal #header_text_member,
.removal_decider .own_removal #header_text_distance {
  float: none;
  margin: 0;
}
.removal_decider .own_removal small,
.removal_decider .company_removal small {
  display: block;
}
.removal_decider .own_removal h2,
.removal_decider .own_removal p,
.removal_decider .own_removal small {
  margin: 0 56px 0 26px;
}
.removal_decider .own_removal small {
  font-size: 80%;
  color: #897B7B;
  margin-bottom: 5px;
} 
.removal_decider .own_removal h2 {
  text-align: center;
  font-size: 14px;
}
.removal_decider .own_removal #header_sum {
  text-align: center;
  margin: 20px 40px 5px 40px;
  padding-bottom: 20px;
  border-bottom: 2px dashed #444444;
  float: none;
}
.removal_decider .own_removal p {
  float: left;
}
.removal_decider .own_removal p.own_removal_val {
  float: right;
}
.removal_decider .own_removal p.no_val {
  margin: 10px 56px 20px 0;
}
.removal_decider .own_removal #sum {
  margin: 25px 54px 10px 27px;
  padding: 10px 0;
  border-top: 2px dashed #444444;
  border-bottom: 2px dashed #444444;
  overflow: hidden;
}
.removal_decider .own_removal #sum p {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
}
.removal_decider .company_removal {
  padding: 0;
  background: url(images/company_bg.jpg) no-repeat 0px 0px transparent;
  margin-left: 32px;
}
*+html .removal_decider .company_removal {
  height: 434px;
}
.removal_decider .company_removal .loading_animation {
  margin-top: 164px;
}
.removal_decider .company_removal .fake_datas {
  display: none;
  margin: 25% 30px 0 14px;
}
.removal_decider .company_removal .fake_datas small{
  color: #897B7B;
  font-size: 70%;
}
.removal_decider .company_removal .fake_datas p {
  float: left;
  width: 45%;
}
.removal_decider .company_removal .fake_datas .fake_datas_offer {
  float: left;
  width: 55%;
  margin-top: 14px;
}
.removal_decider .company_removal .fake_datas p.bill {
  font-family: Times;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}
.removal_decider .company_removal .fake_datas .fake_datas_offer small {
  float: left;
  width: 60%;
}
.removal_decider .company_removal .fake_datas .fake_datas_offer small.fake_datas_offer_val {
  float: right;
  width: 40%;
  text-align: right;
}
.removal_decider .company_removal .offer {
  display: none;
  margin: 2px 0;
}
.removal_decider .company_removal p.offer_text {
  padding: 5px 0 5px 0;
  border-top: 2px solid #B1B1B1;
}
.removal_decider .company_removal ul {
  padding-bottom: 5px;
  border-bottom: 2px solid #B1B1B1;
}
.removal_decider .company_removal p.offer_text,
.removal_decider .company_removal ul {
  display: block;
  margin: 0 22px 0 10px;
}
.removal_decider .company_removal ul li {
  padding-left: 10px;
  background: url("images/sp_expose.png") no-repeat scroll -564px -1676px transparent;
  padding-bottom: 2px;
}
.removal_decider .company_removal .company_removal_link {
  margin: 7px 20px 0 125px;
  padding: 0 0 7px 9px;
  border-bottom: 2px solid #B1B1B1;
}
.removal_decider .company_removal .company_removal_link_line {
  height: 4px;
  margin: 0 20px 0 125px;
  padding: 0; 
}
.removal_decider .company_removal_link a span {
  font-size: 0.79em;
}
.removal_decider .error_box {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -khtml-border-radius: 4px 4px;
  border-radius: 4px 4px;
  background: url("images/hint_error.gif") no-repeat 8px 7px transparent;
  border: 1px solid #FF0000;
  -moz-box-shadow: 0 2px 5px #999999;
  -webkit-box-shadow: 0 2px 5px #999999;
  box-shadow: 0 2px 5px #999999;
  padding: 7px 10px 7px 56px;
  margin-bottom: 14px;
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
  height: 30px;
  display: none;
}
.removal_decider .error h3 {
  font-size: 14px;
  font-weight: bold;
  color: #FF0000;
}

.removal_decider ul.ui-autocomplete {
  background-color: #ffffff;
  z-index: 2;
  position: relative;
  width: 300px;
}
.removal_decider ul.ui-autocomplete li {
   border: 1px solid #7F9DB9;
}
.removal_decider ul.ui-autocomplete a {
  cursor: pointer;
  display: block;
  padding: 5px;
}
.removal_decider ul.ui-autocomplete a.ui-state-hover {
  background-color: #A8B9CB;
}